<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am a collaborative and gritty data professional with many years of educational and professional
           experience across industries. Expert in analyzing data and building models to find insights while 
          always looking to learn something new.</p>
      </div>
      <div class="col-lg-4">
        <p>I hold numerous interests spanning sustainability, health, fitness, education, agriculture, tech, and energy.
          When I am not at work or building a side project, you can find me at the climbing gym, lacrosse field, mountain, or yoga studio.
          See below for contact information</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h3>{{ site.footer.social }}</h3>
          <ul class="list-inline">
            {% for network in site.social %}
            <li>
              <a href="{{ network.url }}" class="btn-social btn-outline"><i
                  class="fa-brands fa-fw fa-{{ network.title }}"></i></a>
            </li>
            {% endfor %}
          </ul>
      </div>
    </div>
  </div>
</section>
